.google{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.search{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
  border:none;
}
