div{
  box-shadow: 10px, 10px, 10px, rgba(0, 0, 0, 0.123);
  display: inline-block;
}

.pic{
  border-radius: 2000px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  vertical-align: middle;
}
.search{
   font-size: 18px;
  border: none;
  width: 300px;
  vertical-align: middle;
  margin-right: px;
  
}
.tweet{
   background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}