.search{
  display: block;
}
.thumbnail1{
  display: block;
  width:300px;
}
.div1{
  display: inline-block;
  width: 300px;
  vertical-align: top;
  margin-right: 15px;
}

.thumbnail2{
  display: block;
  width:300px;
}
.div2{
  display: inline-block;
  width: 300px;
}